<div class="block__slider splide splide--img" aria-label="Slider met afbeeldingen"
    data-splide='
        {
            {{ if slider_settings:is_autoplay }}
            "autoplay":"true",
            "interval":"{{ animation_interval }}",
            {{ /if }}
            {{ if animation_type === 'fade' }}
            "rewind":"true",
            "type":"fade",
            {{ else }}
            "type":"loop",
            {{ /if }}
            "speed":"{{ animation_speed }}"
        }'>
    <div class="splide__track">
        <ul class="splide__list">
            {{ images }}
                <li class="splide__slide">
                    <picture>
                        <source srcset="{{ glide :src="url" format="webp" }}" type="image/webp">
                        <img class="img splide__media" src="{{ url }}" alt="{{ alt }}">
                    </picture>
                </li>
            {{ /images }}
        </ul>
    </div>
</div>
