<div id="age_check" class="age-check">
    <div class="age-check__background">
        <img src="/assets/graphics/age-check-bg.jpg" alt="">
    </div>
    <div class="age-check__wrap container-small">

        <div class="container">
            <div class="row">
                <div class="c12-xs cos0-xs c8-sm c8-md cos2-sm cos2-md">
                    <div class="age-check__content">

                        <div class="age-check__title">ARE YOU OF LEGAL DRINKING AGE?</div>

                        <div class="age-check__buttons">
                            <button class="btn btn--primary btn--transparent" id="age_agree">
                                Yes
                            </button>
                            <button class="btn btn--primary btn--transparent" id="age_decline">
                                No
                            </button>
                        </div><!-- .age-check__buttons -->

                        <div class="age-check__message msg-hidden" id="age_message">
                            <p>
                                You should be at least the legal drinking age to visit this site.
                            </p>
                        </div><!-- .age-check__message -->

                        <div class="age-check__bottom">
                            <div class="age-check__bottom__title">
                                Shake it easy
                            </div>
                            <p>
                                By accessing our website, you are agreeing to our Terms and Conditions, Privacy Policy and Cookie usage.
Please do not share or forward to anyone below legal drinking age.
                            </p>
                        </div>

                        <div class="age-check__footer">
                            <img src="/assets/graphics/age-check-bottles.png" alt="All clubby cocktail bottles">
                        </div>

                    </div><!-- .age-check__content -->
                </div>
            </div>
        </div>
    </div><!-- .age-check__wrap -->
</div>
