@use '../abstracts/_abstracts-dir' as *;

.page-404 {
    display:flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 0 var(--padding, 1.5rem);

    &__content {
        padding: 1.5rem;
        border-radius: 1rem;
        border:1px dashed rgba(0, 0, 0, 0.15);
        text-align: center;
    }
    &__title {
        font-size: 6rem;
        color: $marine;
        text-align: center;
        margin-bottom: 1rem;
        font-weight: 800;
    }

    .btn--404 {
        margin-top: 2rem;
        display: inline-block;
        text-decoration: center;
    }
}
