@use '../abstracts/_abstracts-dir' as *;

#page-index {
    padding-bottom: 5rem;

    .no-results {
        font-weight: 600;
    }
    .overview {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1rem;
        margin-right: -1rem;

        &__item {
            padding-left: 1rem;
            padding-right: 1rem;
            width: calc(100% / 3);
            margin-bottom: 2rem;

            @include fixed {
                width: 50%;
            }
            @include mobile {
                width: 100%;
            }

            &:hover {
                .overview__item__img {
                    transform: scale(1.1);
                }
            }
            &__inner {
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                display: flex;
                flex-direction: column;
                position: relative;
                height: 100%;
            }
            &__media {
                overflow: hidden;
            }
            &__img {
                transition: transform $default-timing ease-in-out;
                display: block;
                width: 100%;
                height: auto;
            }
            &__content {
                padding: 1rem;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
            }
            &__date {
                margin-bottom: 0.5rem;
            }
            &__title {
                font-size: 2rem;
                margin-bottom: 1rem;
            }
            &__excerpt {
                margin-bottom: 1rem;
            }
            &__footer {
                margin-top: auto;
                display: flex;
                justify-content: flex-end;
            }

        }

    }

}
