@use '../abstracts/_abstracts-dir' as *;

.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;

    &__header {
        button {
            display: block;
            position: absolute;
            right: 1rem;
            top: 1rem;

            svg {
                transition: fill $default-timing ease;
                width: 4rem;
                fill: $gold;
                display:block;

                @include mobile {
                    width: 2.5rem;
                }
            }

            &::hover {
                display: none !important;
            }
        }
    }


    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.85);
    }

    &__wrap {
        position: relative;
        background-color: #fff;
        border-radius: 1rem;
        max-width: 640px;
        padding: 1.5rem;
        margin: 0 1.5rem;
        overflow: auto;
        padding-top: 5rem;
    }

    &__buttons {
        margin-top: 2rem;
        display: flex;
    }

    // Form overwrite
    .form__title {
        &::after {
            content: none;
        }
        margin-bottom: 1rem;
    }
    form {
        padding-top: 1rem;
    }

}

