/*
 * Breakpoints
 */
@mixin mobile {
    @media (max-width: 760px) {
        @content;
    }
}
@mixin fixed {
    @media (max-width: 1024px) {
        @content;
    }
}
@mixin vw {
    @media (max-width: 1658px) and (min-width: 1025px) {
        @content;
    }
}

/*
 * Reset default button styles
 */
@mixin button-reset {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }
