{{#
    @name Three column
    @desc three column section block
    @set page.page_builder.three_column_block
#}}

{{# Mobile style #}}
{{ if collapse_settings.settings_padding_bottom_m || collapse_settings.settings_padding_top_m }}
<style>
    @media screen and (max-width: 760px){
    {{ if collapse_settings.settings_padding_bottom_m }}
        .block--{{ id }} {
            padding-bottom: {{ collapse_settings.settings_padding_bottom_m | rem}}rem !important;
        }
    {{ /if }}
    {{ if collapse_settings.settings_padding_top_m }}
        .block--{{ id }} {
            padding-top: {{ collapse_settings.settings_padding_top_m | rem}}rem !important;
        }
    {{ /if }}
    }
</style>
{{ /if }}

{{# HTML #}}
<div {{ if collapse_settings.custom_id }}id="{{ collapse_settings.custom_id }}"{{ /if }}
class="block block--three-column block--{{ id }} {{ collapse_settings:custom_class }}
     {{ if collapse_settings.achtegrond_gradient !== 'null' }}{{ collapse_settings.achtergrond_gradient }}{{ /if }}"
    style="{{ if collapse_settings:settings_bg_color }}background-color:{{ collapse_settings:settings_bg_color }};{{ /if }}
    {{ if collapse_settings:settings_padding_top }}padding-top:{{ collapse_settings:settings_padding_top | rem }}rem;{{ /if }}
    {{ if collapse_settings:settings_padding_bottom }}padding-bottom:{{ collapse_settings:settings_padding_bottom | rem }}rem;{{ /if }}
">
    <div class="container">
        <div class="row">
            <div class="
                c12-xs
                cos0-xs
                c{{collapse_layout:width_all_column}}-md
                c{{collapse_layout:width_all_column}}-sm
                cos{{collapse_layout:offset_all_column}}-md
                cos{{collapse_layout:offset_all_column}}-sm
                ">
                <div class="row">

                    <div class="c12-xs c4-sm c4-md {{ v_align_1 }}">
                        <div class="inner">
                            {{ article }}
                                {{ partial src="components/{type}" }}
                            {{ /article }}
                        </div>
                    </div>
                    <div class="c12-xs c4-sm c4-md {{ v_align_2 }}">
                        <div class="inner">
                            {{ second_article }}
                                {{ partial src="components/{type}" }}
                            {{ /second_article }}
                        </div>
                    </div>
                    <div class="c12-xs c4-sm c4-md {{ v_align_3 }}">
                        <div class="inner">
                            {{ third_article }}
                                {{ partial src="components/{type}" }}
                            {{ /third_article }}
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
